* {
    text-decoration: none;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

 :root {
     --kea-red: #EA5048;
     --darkblue:#26354C;
     --highlight: #EFCCAB;
     --light-lemon: #F9FAD2;  
 }
  
/*--------- HEADER START---------------*/

  .brand-container {
      width: 100%;
      background-color:var(--kea-red);
      color: white;
  }

  .brand-container h1 {
      padding: 20px;
  }

  .navbar {
      background-color: var(--darkblue);
  }

  .navbar li {
      display: inline-block;
      padding: 15px;
      font-weight: bold;   
  }

  .navbar li a {
      text-decoration: none;
      color: white;
  }

  #home {
      color: var(--highlight);
  }

  #menu {
      color: var(--highlight);
  }

  #contact {
      color: var(--highlight);
  }
/* --------------HEADER END* ------------------/

/*-------------- HOME PAGE START ----------- */

   .container-home {
       margin: 20px;
   }

  .img-container {
      float: right;
  }

  .home-text {
      padding: 10px;
      text-align: justify;
      max-width: 50%;
  }

  .container-home ul {
    list-style: none;
    color: var(--kea-red);
    font-weight: bold;
    padding: 20px 20px;
    line-height: 1.5; 
  }


  .quote {
      background-color: #bdbdbd;
      padding: 30px;
      margin-left: 40px;
  }

  #bottom-line {
     margin-top: 10px; 
  }

  #bottom-line span {
      font-style: italic;
  }

footer {
    background-color: var(--darkblue);
    color: white;
}

footer p {
    padding: 20px;
}
/* --------HOME PAGE END ----------- */


/* --------MENU PAGE START ----------- */

.container {
    background-color: var(--light-lemon);
    margin: 30px;
    padding: 20px;
    border-style: solid;
    overflow: auto;
}



.container img {
    float: right;
    padding-left: 20px;
}


.price {
    background-color: var(--kea-red);
    border-style: solid;
    font-weight: bold;
    max-width: 20%;
    text-align: center;
    margin-top: 20px;
}

.price p {
    color: white;
}

/* --------MENU PAGE END ----------- */
 